<h1>Hello World Angular!</h1>
<p>Conteúdo</p>
<div>
    <a href="#">Testando link do css global</a>
</div>
<app-first-component></app-first-component>

<app-parent-data [name] = "userName" [userData] = "userData" ></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-componentes-personalizados nome = "Caique" sobrenome = "Fonseca"></app-componentes-personalizados>
<app-componentes-personalizados nome = "Eliana" sobrenome = "Fonseca"></app-componentes-personalizados>
<app-components-father></app-components-father>
<app-components-son></app-components-son>
<app-services1></app-services1>
<app-services2></app-services2>
